::ng-deep .associations {
  &__data-grid {
    box-shadow: none;
  }
  .dx-treelist-rowsview,
  .dx-treelist-headers {
    border: none;
    .dx-header-row {
      td {
        border: none;
      }
    }
  }
}
